.copyright {
  text-align: right;
  color: white;
  padding: 10px;
  padding-right: 40px;
  font-family: "Courier New", Courier, monospace;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 100px;
  height: 40px;
  width: 100%;
  background-color: #3e006d;
}

/* Mobile */
@media (max-width: 414px) {
  .copyright {
    text-align: center;
    padding-right: 10px;
  }
}
