.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--black);
  background-color: var(--light-purple);
  color: var(--black);
  width: auto;
  min-height: 600px;
  max-height: 850px;
  height: auto;
}

.grid-title {
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--black);
  color: var(--white);
}

img {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}

.grid-description {
  color: var(--black);
  padding: 10px;
  margin-bottom: 10px;
}

.grid-features {
  margin-bottom: 10px;
  border-color: var(--black);
}

.source-button,
.deactive-button {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: var(--medium-purple);
  color: var(--white);
  margin-top: auto;
  margin-bottom: 10px;
  height: 40px;
  width: 125px;
  align-self: center;
}

.source-button:hover {
  background-color: var(--dark-purple);
}

.deactive-button {
  background-color: var(--dark-purple);
  pointer-events: none;
}

/* Tablet */
@media (min-width: 414px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item {
    min-height: 500px;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .grid-title {
    font-size: 1.25em;
  }
}

/* Mobile */
@media (max-width: 414px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-item {
    min-height: 400px;
  }
  img {
    width: 75px;
    height: 75px;
  }
  .grid-title {
    font-size: 1em;
  }
}
