header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #3e006d;
}

.title-nav {
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 15px;
  text-decoration: none;
  color: white;
}

header nav select {
  display: none;
}

header nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline-block;
}

header nav ul li a {
  display: inline-block;
  width: 100%;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

header ul li a:hover,
.social-link:hover,
.contact-button:hover {
  color: #b24dff;
}

/* Tablet */
@media (min-width: 414px) and (max-width: 1024) {
}

/* Mobile */
@media (max-width: 414px) {
  header nav ul {
    display: none;
  }
  header nav select {
    display: block;
    float: right;
    height: 50px;
    width: 100px;
    color: white;
    background-color: #6804b4;
  }
}
