/* For site colors */
:root {
  --dark-purple: #3e006d;
  --medium-purple: #6804b4;
  --light-purple: #b295ff;
  --hover-purple: #b24dff;

  --white: white;
  --black: black;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25em;
}

hr,
p,
.section-header,
.item-section,
.item-title,
.item-company,
.item-location,
.item-split-column,
.item-bulletpoints {
  color: var(--white);
}

.section {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 100px;
}

.section-header {
  text-align: left;
  border: 5px solid var(--dark-purple);
  background-color: var(--dark-purple);
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 25px 25px 0 0;
}

.item-container {
  margin-top: 0px;
  border: 5px solid var(--dark-purple);
  background-color: var(--medium-purple);
  padding: 25px;
  border-radius: 0 0 25px 25px;
}

.item-section {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.item-title {
  font-size: 1.75em;
  font-weight: bold;
}

.item-company {
  font-size: 1.5em;
  font-weight: normal;
}

.item-location,
.item-dates {
  font-size: 1.1em;
}

.item-split-column {
  column-count: 2;
}

.item-bulletpoints {
  columns: 2;
  font-size: 1.25em;
}

.contact-section-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.contact-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.contact-social-container,
.contact-crow-container {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.contact-social-container {
  gap: 10px;
}

.contact-crow-container {
  gap: 20px;
}

.social-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border-radius: 25px;
  color: var(--white);
  text-decoration: none;
  height: 40px;
  width: 100px;
}

.crow-speak {
  display: flex;
  height: 2em;
  width: 9em;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--black);
  border-radius: 25px;
}

.crow-img {
  display: flex;
  width: 78px;
  height: 75px;
}

.contact-text,
.contact-form {
  width: 100%;
  box-sizing: border-box;
}

.contact-text {
  color: var(--white);
  background-color: var(--black);
  margin: 0;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;
}

.contact-form,
.crow-speak {
  background-color: var(--light-purple);
  color: var(--black);
  font-weight: bold;
}

.contact-form {
  display: flex;
  margin: 0;
  border: 4px solid var(--black);
  margin-bottom: 5px;
  height: 3em;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  box-sizing: border-box;
  padding: 10px;
}

.contact-form::placeholder {
  color: var(--black);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

.contact-messagebox {
  height: 6em;
  resize: vertical;
}

.contact-button {
  display: flex;
  background-color: var(--black);
  align-items: center;
  text-align: center;
  border: 4px solid var(--black);
  border-radius: 25px;
  color: var(--white);
  margin: 0;
  margin-bottom: 5px;
  height: 2em;
}

/* Tablet */
@media (min-width: 414px) and (max-width: 1024px) {
  p {
    font-size: 1em;
  }
  .section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .item-title {
    font-size: 1.25em;
  }

  .item-company {
    font-size: 1em;
  }

  .item-location {
    font-size: 1em;
  }

  .item-dates {
    font-size: 1em;
  }

  .item-split-column {
    column-count: 1;
  }

  .item-bulletpoints {
    columns: 1;
  }

  .contact-section-container {
    flex-direction: column;
  }

  .contact-form-container {
    align-self: center;
    width: 100%;
  }

  .contact-social-container {
    align-self: center;
  }

  .contact-crow-container {
    align-self: center;
  }
}

/* Mobile */
@media (max-width: 414px) {
  p {
    font-size: 1em;
  }
  .section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .item-title {
    font-size: 1.25em;
  }

  .item-company {
    font-size: 1em;
  }

  .item-location {
    font-size: 1em;
  }

  .item-dates {
    font-size: 1em;
  }

  .item-split-column {
    column-count: 1;
  }

  .item-bulletpoints {
    columns: 1;
    font-size: 1em;
  }

  .contact-section-container {
    flex-direction: column;
  }

  .contact-form-container {
    align-self: center;
    width: 100%;
    font-size: medium;
  }

  .contact-form::placeholder {
    font-size: small;
  }

  .contact-social-container {
    align-self: center;
  }

  .contact-crow-container {
    align-self: center;
  }
}
