body {
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-size: 1.25em;
}

hr {
  color: white;
}

.section {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 100px;
}

.section-header {
  text-align: left;
  border: 5px solid #3e006d;
  background-color: #3e006d;
  color: white;
  padding: 10px;
  margin-bottom: 0px;
}

.item-container {
  margin-top: 0px;
  border: 5px solid #3e006d;
  background-color: #6804b4;
  padding: 10px;
}

.item-section {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.item-title {
  font-size: 1.75em;
  font-weight: bold;
  color: white;
}

.item-company {
  font-size: 1.5em;
  font-weight: normal;
  color: white;
}

.item-location {
  font-size: 1.1em;
}

.item-dates {
  font-size: 1.1em;
}

.item-split-column {
  column-count: 2;
  color: white;
}

.item-bulletpoints {
  columns: 2;
  color: white;
  font-size: 1.25em;
}

.contact-section-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.contact-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact-social-container {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}

.contact-crow-container {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: white;
}

.social-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  height: 40px;
  width: 100px;
}

.crow-speak {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  background-color: rgb(178, 149, 255);
  height: 2em;
  width: 9em;
  border-radius: 25px;
}

.crow-img {
  display: flex;
}

.contact-text,
.contact-form {
  width: 100%;
  box-sizing: border-box;
}

.contact-text {
  color: White;
  background-color: black;
  margin: 0;
  padding-left: 5px;
}

.contact-form {
  display: flex;
  margin: 0;
  background-color: rgb(178, 149, 255);
  border: 4px solid black;
  color: Black;
  font-weight: bold;
  margin-bottom: 5px;
  height: 3em;
}

.contact-form::placeholder {
  color: Black;
  font-weight: bold;
}

.contact-messagebox {
  height: 6em;
}

.contact-button {
  display: flex;
  background-color: black;
  align-items: center;
  text-align: center;
  border: 4px solid black;
  border-radius: 25px;
  color: white;
  margin: 0;
  margin-bottom: 5px;
  height: 2em;
}

/* Tablet */
@media (min-width: 414px) and (max-width: 1024px) {
  p {
    font-size: 1em;
  }
  .section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .item-title {
    font-size: 1.25em;
  }

  .item-company {
    font-size: 1em;
  }

  .item-location {
    font-size: 1em;
  }

  .item-dates {
    font-size: 1em;
  }

  .item-split-column {
    column-count: 1;
  }

  .item-bulletpoints {
    columns: 1;
  }

  .contact-section-container {
    flex-direction: column;
  }

  .contact-form-container {
    align-self: center;
  }

  .contact-social-container {
    align-self: center;
  }

  .contact-crow-container {
    align-self: center;
  }
}

/* Mobile */
@media (max-width: 414px) {
  p {
    font-size: 1em;
  }
  .section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .item-title {
    font-size: 1.25em;
  }

  .item-company {
    font-size: 1em;
  }

  .item-location {
    font-size: 1em;
  }

  .item-dates {
    font-size: 1em;
  }

  .item-split-column {
    column-count: 1;
  }

  .item-bulletpoints {
    columns: 1;
    font-size: 1em;
  }

  .contact-section-container {
    flex-direction: column;
  }

  .contact-form-container {
    align-self: center;
  }

  .contact-social-container {
    align-self: center;
  }

  .contact-crow-container {
    align-self: center;
  }
}
