.body {
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-size: 1.25em;
}

hr {
  color: white;
}

.section {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 100px;
}

.section-header {
  text-align: left;
  border: 5px solid #3e006d;
  background-color: #3e006d;
  color: white;
  padding: 10px;
  margin-bottom: 0px;
}

.item-container {
  margin-top: 0px;
  border: 5px solid #3e006d;
  background-color: #6804b4;
  padding: 10px;
}

.item-section {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.item-title {
  font-size: 1.75em;
  font-weight: bold;
  color: white;
}

.item-company {
  font-size: 1.5em;
  font-weight: normal;
  color: white;
}

.item-location {
  font-size: 1.1em;
}

.item-dates {
  font-size: 1.1em;
}

.item-split-column {
  column-count: 2;
  color: white;
}

.item-bulletpoints {
  columns: 2;
  color: white;
  font-size: 1.25em;
}

/* Tablet */
@media (min-width: 414px) and (max-width: 1024px) {
  p {
    font-size: 1em;
  }
}

/* Mobile */
@media (max-width: 414px) {
  p {
    font-size: 0.75em;
  }
}
